1. Перенесите метрики в модуль src.metrics.py
2. Перенесите функцию prefilter_items в модуль src.utils.py
3. Создайте модуль src.recommenders.py. Напищите код для класса ниже 
(задание обсуждали на вебинаре, для первой функции практически сделали) и положите его в src.recommenders.py
4. Проверьте, что все модули корректно импортируются

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Для работы с матрицами
from scipy.sparse import csr_matrix

# Матричная факторизация
from implicit.als import AlternatingLeastSquares
from implicit.nearest_neighbours import ItemItemRecommender  # нужен для одного трюка
from implicit.nearest_neighbours import bm25_weight, tfidf_weight
import implicit

import os, sys

module_path = os.path.abspath(os.path.join(os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)
    
from src.metrics import precision_at_k, recall_at_k
from src.utils import prefilter_items
from src.recommenders import MainRecommender

import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('../raw_data/transaction_data.csv')

data.columns = [col.lower() for col in data.columns]
data.rename(columns={'household_key': 'user_id',
                    'product_id': 'item_id'},
           inplace=True)


test_size_weeks = 3
users = np.arange(20)

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks][data['user_id'].isin(users)]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks][data['user_id'].isin(users)]

data_train.head(2)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
1058,14,27021203242,4,834117,1,3.99,319,-1.00,1704,1,0.0,0.0
1059,14,27021203242,4,835788,1,1.00,319,-0.49,1704,1,0.0,0.0

In [3]:
result = data_test.groupby('user_id')['item_id'].unique().reset_index()
result.columns=['user_id', 'actual']
result.head(3)

   user_id                                             actual
0        1  [821867, 834484, 856942, 865456, 889248, 90795...
1        3  [835476, 851057, 872021, 878302, 879948, 90963...
2        6  [920308, 926804, 946489, 1006718, 1017061, 107...

In [4]:
rec = MainRecommender(data_train)

  0%|          | 0/15 [00:00<?, ?it/s]

  0%|          | 0/19 [00:00<?, ?it/s]

In [5]:
%%time
    
result['sim_items_rec'] = result['user_id'].apply(lambda x: rec.get_similar_items_recommendation(x))

sim_items_precision_at_k = result.apply(lambda row: precision_at_k(row['sim_items_rec'], row['actual']), axis=1).mean()
sim_items_recall_at_k = result.apply(lambda row: recall_at_k(row['sim_items_rec'], row['actual']), axis=1).mean()

print(f'similar_items_recommendation:  precision_at_k={sim_items_precision_at_k}, recall_at_k={sim_items_recall_at_k}')

similar_items_recommendation:  precision_at_k=0.10769230769230768, recall_at_k=0.00704232712759947
Wall time: 108 ms

In [6]:
%%time
    
result['sim_users_rec'] = result['user_id'].apply(lambda x: rec.get_similar_users_recommendation(x))

sim_users_precision_at_k = result.apply(lambda row: precision_at_k(row['sim_users_rec'], row['actual']), axis=1).mean()
sim_users_recall_at_k = result.apply(lambda row: recall_at_k(row['sim_users_rec'], row['actual']), axis=1).mean()

print(f'similar_users_recommendation:  precision_at_k={sim_users_precision_at_k}, recall_at_k={sim_users_recall_at_k}')

similar_users_recommendation:  precision_at_k=0.24615384615384614, recall_at_k=0.08962120930352378
Wall time: 302 ms

In [7]:
result.head(3)

,user_id,actual,sim_items_rec,sim_users_rec
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[856942, 999999, 1127831, 990656, 965267]","[856942, 1128477, 1082185, 1082185, 1106523]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[972931, 12301109, 1133018, 955399, 899624]","[1092026, 6534178, 6534178, 1082185, 6904776]"
2,6,"[920308, 926804, 946489, 1006718, 1017061, 107...","[999999, 854502, 1076056, 820165, 9836106]","[1082185, 1082185, 6534178, 833351, 1106523]"